[map]
use_grid_map = false
map_size_m = 9
submap_size_m = 5
map_resolution = 0.1
angular_map_max_range = 3
num_circles = 0
num_walls = 3
min_wall_length = 3
max_wall_length = 3
map_width = 45
map_height = 45
angular_map_dim = 48
angle_min = -1
angle_max = 1


[env]
time_limit = 35
time_step = 0.25
val_size = 16
test_size = 500
randomize_attributes = true


[reward]
new_reward = true
time_max = 35
time_good = 10
max_goal_distance = 10
success_reward = 1
collision_penalty_human = -1.0
collision_penalty_bicycle = -1.5
collision_penalty_child = -2.0
collision_penalty_obstacle = -0.5
discomfort_dist = 0.1
discomfort_dist_human = 0.1
discomfort_dist_bicycle = 0.2
discomfort_dist_child = 0.2
discomfort_penalty_factor = 0.5
discomfort_penalty_factor_human = 0.5
discomfort_penalty_factor_bicycle = 1.0
discomfort_penalty_factor_child = 1.0
rotation_penalty_factor = 0


[sim]
train_val_sim_human = square_crossing
test_sim_human = square_crossing
train_val_sim_bicycle = square_crossing
test_sim_bicycle = square_crossing
train_val_sim_children = square_crossing
test_sim_children = square_crossing
square_width = 11
circle_radius = 5
human_num = 8
bicycle_num = 8
children_num = 8


[humans]
visible = true
policy = orca
v_pref_min = 0.4
v_pref_max = 0.8
radius_min = 0.2
radius_max = 0.4
sensor = coordinates


[bicycles]
visible = true
policy = orca
v_pref_min = 0.5
v_pref_max = 1.5
radius_min = 0.3
radius_max = 0.6
sensor = coordinates


[children]
visible = true
policy = orca
v_pref_min = 0.3
v_pref_max = 1.0
radius_min = 0.1
radius_max = 0.4
sensor = coordinates


[robot]
visible = false
policy = none
radius = 0.3
v_pref = 0.6
sensor = coordinates
